<!-- working demo of google maps and webworker and socket io --> 
<html>
<head>
	<title>
			Google Maps, Webworker, Node.js and socket io
	</title>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

	 <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>

    <!-- load google maps -->
     <script type="text/javascript"
      	src="https://maps.googleapis.com/maps/api/js?sensor=false">
     </script>

     <script src="/socket.io/socket.io.js"></script>


   

     <!-- initialize the google map -->
      <script type="text/javascript">
      	   var map;
      	   var typeIdChangeListener;
      	   var thePanorama;
      	   var streetviewChangeListener;
      	   var streetviewViewListener;
      	   var isStreetViewInitialized;
      	   var streetviewPovListener;
      	   var initialLatLng;
      	   var marker;
      	   var infoWindow;
      	   var contentString = "";
      	   var developmentIP = "http://localhost:8080/"
      	   var stagingIP = "http://107.21.207.8:8080/"

	      function initialize() {
	      	initialLatLng = new google.maps.LatLng(42.39, -71.27);
	        var mapOptions = {
	          center: initialLatLng,
	          zoom: 18,
	          mapTypeId: google.maps.MapTypeId.TERRAIN
	        };

	        contentString += "Location <br> lat:" + initialLatLng.lat() + " <br> lng:" + initialLatLng.lng() + "<br />";

	        map = new google.maps.Map(document.getElementById("map-canvas"),
	            mapOptions);

	        marker = new google.maps.Marker({
		      position: initialLatLng,
		      map: map,
		       icon: {
			    path: google.maps.SymbolPath.CIRCLE,
			    fillOpacity: 0.5,
			    fillColor: 'ff0000',
			    strokeOpacity: 1.0,
			    strokeColor: 'fff000',
			    strokeWeight: 3.0, 
			    scale: 10 //pixels
			  }
		 	 });

		    infowindow = new google.maps.InfoWindow({
		    	content: contentString	
		   	});

		    google.maps.event.addListener(marker, 'click', function() {
 				 infowindow.open(map,marker);
			});

	  		

	  		

	      } 

	     google.maps.event.addDomListener(window, 'load', initialize);

	     


		var socket = io.connect(developmentIP);
		socket.on('map_event', function (data) {
	        var latlng = data.split(',');
		    console.log("map_event received: " + JSON.stringify(data));
	        console.log("data lat: "  + data +  " long" + data[1]);
	        var updatedLatLng = new google.maps.LatLng(latlng[0], latlng[1]);
	        var updatedContentString = "Location: lat:" + updatedLatLng.lat() + " lng:" + updatedLatLng.lng() + "<br />";
		  	// map.setCenter(updatedLatLng);
		  	marker.setPosition(updatedLatLng);
		  	infowindow.setContent(updatedContentString);

		});



	
		 

		   


	  



 
 
  		  




	  </script>
	  <script>
		  
	  </script>

</head>
<body>
	<div id="map-canvas">
	</div>
</body>
</html>
